<nav class="navbar navbar-inverse navbar-static-top" id="cookies">
	<div class="container">
		<div class="navbar-collapse">
			<div class="col-md-1 col-lg-1"></div>
			<div class="col-xs-12 col-md-10 col-lg-10">
    			<span class="col-md-9 cc-message">
    				Esta web utiliza 'cookies' propias y de terceros para ofrecerle una mejor experiencia. Al navegar aceptas el uso que hacemos de las 'cookies'.
                                <a class="cc-link" aria-label="learn more about cookies" tabindex="0" href="{{ path('politica_cookies') }}" target="_blank">Saber más</a>
    			</span>
    			<div class="col-md-3 cc-compliance">
    				<a class="cc-btn cc-dismiss" aria-label="dismiss cookie message" role="button" tabindex="0" id="cerrarCookie">Entendido</a>		
    			</div>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		</div>
	</div>
</nav>