<nav class="navbar navbar-inverse navbar-static-top" id="footer">
	<div class="container">
		<div class="navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('aviso_legal') }}">Aviso legal</a></li>
				<li><a href="{{ path('politica_privacidad') }}">Política privacidad</a></li>
			</ul>
		</div>
	</div>
</nav>