{% extends 'base.html.twig' %}


{% block title %}
Aviso legal - Warnier
{% endblock %}


{% block stylesheets %}
{% endblock %}


{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>CONDICIONES GENERALES DE USO DEL SITIO WEB DE SUMINISTROS
				INFORMATICOS WARNIER, S.L.</h3>

			<p>SUMNISTROS INFORMATICOS WARNIER, S.L. con domicilio en C/
				VENEZUELA, 15-17 BAJO con CIF B15441421 representada por D.
				FRANCISCO JESUS VAZQUEZ EDREIRA con NIF 32811758-G, pone a
				disposición en su sitio web www.warnier.com determinados contenidos
				de carácter informativo sobre sus actividades.</p>

			<p>Las presentes condiciones generales rigen única y
				exclusivamente el uso del sitio web de SUMINISTROS INFORMATICOS
				WARNIER, S.L. por parte de los USUARIOS que accedan al mismo. Las
				presentes condiciones generales se le exponen al USUARIO en el sitio
				web www.warnier.com en todas y cada una de las páginas y cada vez
				que un USUARIO introduce sus datos en los formularios existentes,
				para que las lea, las imprima, archive y acepte a través de
				internet, no pudiendo el USUARIO introducir sus datos efectivamente
				sin que se haya producido esta aceptación.</p>

			<p>Denominación social de la empresa está inscrita en el Registro
				Mercantil de A Coruña, Tomo 1411, Folio 1156, Hoja Nº C-10188</p>

			<p>El acceso al sitio web de SUMINISTROS INFORMÁTICOS WARNIER,
				S.L. implica sin reservas la aceptación de las presentes condiciones
				generales de uso que el USUARIO afirma comprender en su totalidad.
				El USUARIO se compromete a no utilizar el sitio web y los servicios
				que se ofrecen en el mismo para la realización de actividades
				contrarias a la ley y a respetar en todo momento las presentes
				condiciones generales</p>


			<h3>PRIMERA.- CONDICIONES DE ACCESO Y USO</h3>

			<p>1.1.- La utilización del sitio web de SUMINISTROS INFORMATICOS
				WARNIER, S.L. no conlleva la obligatoriedad de inscripción del
				USUARIO, salvo si este USUARIO desee utilizar la base de datos de
				artículos existentes en warnier.com donde será preciso que se
				registre cubriendo un formulario básico, esta suscripción se regirá
				por las condiciones generales específicas. Las condiciones de acceso
				y uso del presente sitio web se rigen estrictamente por la legalidad
				vigente y por el principio de buena fe comprometiéndose el USUARIO a
				realizar un buen uso de la web. Quedan prohibidos todos los actos
				que vulneren la legalidad, derechos o intereses de terceros: derecho
				a la intimidad, protección de datos, propiedad intelectual etc.
				Expresamente SUMINISTROS INFORMATICOS WARNIER, S.L. prohíbe los
				siguientes:</p>

			<p>1.1.1.- Realizar acciones que puedan producir en el sitio web
				o a través del mismo por cualquier medio cualquier tipo de daño a
				los sistemas de SUMINISTROS INFORMATICOS WARNIER, S.L. o a terceros.</p>

			<p>1.1.2.- Realizar sin la debida autorización cualquier tipo de
				publicidad o información comercial directamente o de forma
				encubierta, el envío de correos masivos ("spaming") o envío de
				grandes mensajes con el fin de bloquear servidores de la red ("mail
				bombing")</p>

			<p>1.2.- SUMINISTROS INFORMATICOS WARNIER, S.L. podrá interrumpir
				en cualquier momento el acceso a su sitio web si detecta un uso
				contrario a la legalidad, la buena fe o a las presentes condiciones
				generales- ver cláusula quinta.</p>

			<h3>SEGUNDA.- CONTENIDOS</h3>

			<p>Los contenidos incorporados en este sitio web han sido
				elaborados e incluidos por:</p>

			<p>2.1.- SUMINISTROS INFORMATICOS WARNIER, S.L. utilizando
				fuentes internas y externas de tal modo que SUMINISTROS INFORMATICOS
				WARNIER, S.L. únicamente se hace responsable por los contenidos
				elaborados de forma interna.</p>

			<p>2.2.- SUMINISTROS INFORMATICOS WARNIER, S.L. se reserva el
				derecho a modificar en cualquier momento los contenidos existentes
				en su sitio web.
			<p>TERCERA.- DERECHOS DE AUTOR Y MARCA.
			<h3></h3>

			<p>SUMINISTROS INFORMATICOS WARNIER, S.L. informa que el sitio
				Web www.warnier.com los contenidos propios, la programación y el
				diseño del sitio web se encuentra plenamente protegido por los
				derechos de autor, quedando expresamente prohibida toda
				reproducción, comunicación, distribución y transformación de los
				referidos elementos protegidos salvo consentimiento expreso de
				SUMINISTROS INFORMATICOS WARNIER, S.L..SUMINISTROS INFORMATICOS
				WARNIER, S.L. utiliza fuentes externas para la elaboración de sus
				contenidos en determinadas ocasiones y también establece links o
				hiperenlaces a artículos o informaciones de terceros citando siempre
				la fuente. El legítimo titular de los derechos de autor de estas
				informaciones así incluidas podrá solicitar en cualquier momento la
				eliminación de las referidas referencias.</p>

			<h3>CUARTA.- JURISDICCIÓN Y LEY APLICABLE.</h3>

			<p>Las presentes condiciones generales se rigen por la
				legislación española. Son competentes para resolver toda
				controversia o conflicto que se derive de las presentes condiciones
				generales los Juzgados de BETANZOS renunciando expresamente el
				USUARIO a cualquier otro fuero que pudiera corresponderle.</p>

			<h3>QUINTA.</h3>

			<p style="margin-bottom: 5%;">En caso de que cualquier cláusula
				del presente documento sea declarada nula, las demás cláusulas
				seguirán vigentes y se interpretarán teniendo en cuenta la voluntad
				de las partes y la finalidad misma de las presentes condiciones.
				SUMINISTROS INFORMATICOS WARNIER, S.L. podrá no ejercitar alguno de
				los derechos y facultades conferidos en este documento lo que no
				implicará en ningún caso la renuncia a los mismos salvo
				reconocimiento expreso por parte de SUMINSITROS INFORMATICOS
				WARNIER, S.L.</p>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}