<div class="jumbotron jumbotron-fluid">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="{{href}}">
					<img src="{{ asset('imagenes/portadacdtic.png') }}"
					alt="{{ descripcion }}" class="ajustaPortadaEvento">					
				</a>
			</div>
		</div>
	</div>
</div>