<div class="jumbotron jumbotron-fluid">
	<!-- <div class="container"> -->
	<!-- <h1 class="display-3">Fluid jumbotron</h1>
    		<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="{{ path('subart_show', { 'idArt': 21 }) }}">
					<img src="{{ asset('/imagenes/subida/406571c157f0b79c55687be3162067cc.jpeg') }}"
					alt="Evento Logísticia y Movilidad 4.0" class="ajustaPortadaEvento">
				</a>
			</div>
		</div>
	</div>
</div>