<div class="jumbotron jumbotron-fluid">
    <!-- <div class="container"> -->
    <!-- <h1 class="display-3">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('imagenes/smartphone-1701086_1920.jpg') }}"
                     alt="Movilidad">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                            <span>Soluciones de movilidad para tu negocio</span>
                        </h2>
                        <br>
                        <!-- <h3>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </h3> -->
                        <br>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('imagenes/logistica/logistica1.jpg') }}"
                     alt="Logistica">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                            <span>Soluciones logísticas</span>
                        </h2>
                        <br>                    
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="{{ asset('imagenes/logistica/pexels-photo-209251.jpg') }}" alt="Hardware Industrial">

                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                            <span>Hardware industrial</span>
                        </h2>
                        <br>                    
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button"
           data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"
                                 aria-hidden="true"></span> <span class="sr-only">Anterior</span>
        </a> <a class="right carousel-control" href="#myCarousel" role="button"
                data-slide="next"> <span
                class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <!-- </div> -->
</div>