{% extends 'base.html.twig' %}

{% block title %}
Nuestra política de privacidad - Warnier
{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>Información general</h3>

			<p>Suministros Informáticos Warnier, sociedad de nacionalidad
				española con domicilio social en Venezuela 15 - 17 Bajo, 15300
				Betanzos, A Coruña (España), es la titular del Sitio Web
				"www.warnier.com".</p>

			<p>La política de privacidad que se describe a continuación sólo
				es aplicable al presente Sitio Web, entendiendo como tal todas las
				páginas y subpáginas incluidas en el dominio www.warnier.com
				declinando WARNIER cualquier responsabilidad sobre las diferentes
				políticas de privacidad y protección de datos de carácter personal
				que puedan contener los Sitios Web a los cuales pueda accederse a
				través de los hipervínculos ubicados en este Sitio Web y no
				gestionados directamente por nuestro webmaster.</p>

			<p>WARNIER desea poner en conocimiento de los usuarios de este
				Sitio Web que la presente declaración refleja la política en materia
				de protección de datos que sigue WARNIER. Esta política se ha
				configurado respetando escrupulosamente la normativa vigente en
				materia de protección de datos de carácter personal, esto es, entre
				otras, la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de
				Datos de carácter personal (en adelante LOPD) y el Real Decreto
				994/1999, de 11 de Junio que aprueba el Reglamento de medidas de
				seguridad de los ficheros automatizados que contengan datos de
				carácter personal (en adelante Reglamento 994/1999).</p>

			<h3>Recogida de datos de carácter personal</h3>

			<p>De acuerdo con la normativa vigente en materia de protección
				de datos así como en materia de servicios de la sociedad de la
				información y de comercio electrónico, el usuario acepta que los
				datos personales aportados en el momento de su registro, o cualquier
				otro facilitado a Suministros informáticos WANIER S.L.. para su
				acceso a algunos de los servicios del web site (suscripción a foros,
				venta de servicios,...), sean incorporados a ficheros titularidad de
				esta empresa, con la finalidad de facilitar la prestación de los
				servicios solicitados, para la correcta identificación de los
				usuarios que solicitan servicios personalizados en "swin.net o
				softwin.es", para la realización de estudios estadísticos de los
				usuarios registrados en "swin.net" que permitan diseñar mejoras en
				los servicios prestados, para la gestión de tareas básicas de
				administración, así como para mantenerle informado, bien por correo
				electrónico bien por cualquier otro medio, de novedades, productos y
				servicios relacionados con SUMINISTROS INFORMÁTICOS WARNIER S.L. o
				con terceras empresas colaboradoras. En el caso de comunicaciones
				comerciales a través de correo electrónico o medio equivalente, el
				usuario presta su consentimiento expreso para el envío de publicidad
				a través de dicho medio.</p>

			<p>WARNIER no recaba datos de carácter personal de los usuarios
				de este Sitio Web, siendo perfectamente posible la navegación
				anónima por el Sitio Web, si el Usuario así lo desea. WARNIER sólo
				dispondrá de datos personales de aquellos usuarios que
				voluntariamente quieran proporcionárselos a través del e-mail de
				contacto, establecido al efecto. Sólo en estos casos en que el
				Usuario lo desee, y siempre de forma voluntaria, podrá comunicar los
				datos de carácter personal que considere oportunos a WARNIER.</p>

			<p>Dichos datos proporcionados voluntariamente por el usuario
				serán incorporados a un fichero automatizado denominado "Usuarios
				WARNIER" registrado en el Registro General de Protección de Datos
				bajo la titularidad de Suministros informáticos WARNIER, S.L.,
				creado con la finalidad de "Informar a los usuarios sobre los
				servicios ofrecidos por la Empresa". En consecuencia, el Usuario que
				proporcione a WARNIER sus datos personales, acepta expresamente el
				tratamiento automatizado de los mismos, con la finalidad de que
				WARNIER pueda informarle de los servicios empresariales que
				desarrolla.</p>

			<h3>Medidas de seguridad</h3>

			<p>Los datos personales recogidos por WARNIER, son almacenados en
				bases de datos, cuya titularidad corresponde en exclusiva a
				SUMINISTROS INFORMÁTICOS WARNIER, S.L., asumiendo ésta todas las
				medidas de índole técnica, organizativa y de seguridad que
				garantizan la confidencialidad, integridad y calidad de la
				información contenida en las mismas de acuerdo con lo establecido en
				la LOPD y en el Reglamento 994/1999.</p>

			<p>Es posible que terceras personas o Entidades tengan acceso a
				los ficheros automatizados titularidad de WARNIER que contengan
				datos de carácter personal, en el marco de la prestación de
				servicios de "hosting" y mantenimiento del Sitio Web, si bien, dicho
				acceso se llevará a cabo de conformidad con lo dispuesto en el
				artículo 12 de la LOPD, relativo al acceso a datos por cuenta de
				terceros.</p>

			<p>La comunicación entre los usuarios y WARNIER no utiliza un
				canal seguro, y los datos transmitidos no viajan cifrados, por lo
				que se solicita a los usuarios que se abstengan de enviar aquellos
				datos personales que merezcan la consideración de datos
				especialmente protegidos en los términos del artículo 7 de la LOPD,
				ya que las medidas de seguridad aplicables a un canal no seguro lo
				hacen desaconsejable.</p>

			<h3>Finalidad del tratamiento de los datos.</h3>

			<p>Los datos de carácter personal que sean comunicados
				voluntariamente por el usuario a WARNIER se destinarán únicamente a
				la finalidad de informar al usuario, a petición de éste, de los
				servicios prestados por la Empresa y su uso siempre responderá a
				finalidades lícitas relacionadas con la actividad empresarial de
				WARNIER. Todos los datos recibidos serán tratados con la más
				absoluta confidencialidad, destinándose únicamente a aquellas
				finalidades para las que fueron recabados y de las que expresamente
				se informa al Usuario en el momento de su recogida.</p>

			<p>El usuario que voluntariamente comunique sus datos a WARNIER a
				través de este Sitio Web consiente expresamente la utilización de
				dichos datos personales para el envío de información comercial de
				novedades, productos y servicios de WARNIER, en estricto
				cumplimiento de lo dispuesto en la legislación vigente en materia de
				Servicios de la Sociedad de la Información, en lo que a envío de
				comunicaciones comerciales se refiere.</p>

			<h3>Cesión de datos.</h3>

			<p>Los datos de carácter personal recogidos a través de este
				Sitio Web no serán objeto de cesión a ningún otro sujeto ni empresa,
				salvo a los sujetos y en los supuestos concretos en que dicha cesión
				se configura como obligatoria por la LOPD.</p>

			<p>Los datos recogidos serán tratados siempre respetando la
				normativa vigente en materia de protección de datos de carácter
				personal.</p>

			<h3>Calidad de los datos: derechos de acceso, oposición,
				rectificación y cancelación.</h3>

			<p>WARNIER se compromete a mantener en todo momento, los datos
				personales que voluntariamente le hayan proporcionado los usuarios
				de este Sitio Web, actualizados, de manera que respondan verazmente
				a la identidad y características personales de dichos usuarios.</p>

			<p style="margin-bottom: 5%;">Cualquier usuario registrado puede
				en cualquier momento ejercer el derecho a acceder, rectificar y, en
				su caso, cancelar sus datos de carácter personal suministrados,
				mediante petición escrita dirigida a SUMINISTROS INFORMÁTICOS
				WARNIER S.L., Venezuela 15 - 17 Bajo, 15300 Betanzos, A Coruña
				(España).</p>

		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}