{% extends 'base.html.twig' %}

{% block title %}
Nuestra política de cookies - Warnier
{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3>Información general</h3>

			<p>En cumplimiento con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, 
                            de Servicios de la Sociedad de la Información y de Comercio Electrónico, esta página web 
                            le informa, en esta sección, sobre la <b>política de recogida y tratamiento de cookies</b>.</p>
                        
                        <h3>¿Qué son las cookies?</h3>

			<p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas 
                            web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar 
                            información sobre los hábitos de navegación de un usuario o de su equipo y, 
                            dependiendo de la información que contengan y de la forma en que utilice su equipo, 
                            pueden utilizarse para reconocer al usuario. </p>

			<h3>¿Qué tipo de cookies utiliza esta página web?</h3>

                        <p>Esta página web utiliza los siguientes tipos de cookies:</br>
                            </br>
                            <b>Cookies de análisis</b>: Son aquéllas que bien tratadas por nosotros o por 
                            terceros, nos permiten cuantificar el número de usuarios y así realizar la medición 
                            y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. 
                            Para ello se analiza su navegación en nuestra página web con el fin de mejorar la 
                            oferta de productos o servicios que le ofrecemos.
                            </br>
                            </br>
                            <b>Cookies técnicas</b>: Son aquellas que permiten al usuario la navegación a través 
                            del área restringida y la utilización de sus diferentes funciones, como por ejemplo, 
                            llevar a cambio el proceso de compra de un artículo.</p>

			<h3>Desactivar las cookies</h3>

			<p>Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante 
                            la configuración de las opciones del navegador instalado en su ordenador.

                            En la mayoría de los navegadores web se ofrece la posibilidad de permitir, 
                            bloquear o eliminar las cookies instaladas en su equipo.

                            A continuación puede acceder a la configuración de los navegadores webs más frecuentes para aceptar, instalar o desactivar las cookies:
                        
                        <ul>
                            <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Configurar cookies en Google Chrome</a></li>
                            <li><a href="https://support.microsoft.com/es-es/products/windows?os=windows-10">Configurar cookies en Microsoft Internet Explorer</a></li>
                            <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">Configurar cookies en Mozilla Firefox</a></li>
                            <li><a href="https://support.apple.com/es-es/HT201265">Configurar cookies en Safari (Apple)</a></li>

                        </ul>
                        </p>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}