{% extends 'base.html.twig' %}

{% block title %}
    Area Login
{% endblock %}


{% block description %}
    <meta name="description" content="Area login." />
{% endblock %}

{% block header %}
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-hide" href="{{ path('homepage') }}">
                    <img id="logoCabecera" src="{{ asset('imagenes/warnier/nombreWarnier_320.png') }}">Warnier</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}
    
{% endblock %}